@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root{
    --primary-color: #f1c40f;
    --secondary-color: #ffdc4e;
    --text-color: #333;
    --text-color-button: white;

    --background-color: #fff;
    --default-font-size: 16px;
}

*{
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color-button);
}
ul {
    list-style: none;
}


/* TODO : later on add more things here */
.pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pg h1 {
    font-size: 2.5em;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 10px;
}


.pg p {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 15px;
}